.search-box-div {
  padding-top: 5px;
  padding-bottom: 15px;
}

.cards {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  align-content: space-around;
  flex-wrap: wrap;
}
