.nav-bar {
  display: flex;
  justify-content: space-between;
  background-color: white;
}
p {
  padding-left: 20px;
  padding-top: 5px;
}
ul li {
  text-decoration: none;
  list-style-type: none;
}
ul {
  padding-top: 5px;
  display: flex;
  justify-content: space-between;
  width: 230px;
  margin-right: 30px;
}
